/* --Font style--- */
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two&family=Poppins:wght@400;500&family=Roboto+Condensed:ital,wght@1,300&family=Source+Sans+Pro&family=Ubuntu:ital@1&display=swap');

body{
    font-family: 'Poppins', sans-serif;
}

.headline{
    font-size: 52px;
}
.header-section {
    
    font-weight: 700;
    left: 8.33%;
    right: 74.79%;
    top: 2.63%;
    bottom: 95.79%;
    padding-left: 17px;
}

/* .container{
    padding: 30px;
} */
.container-box{
    padding-left: 10px;
}

.button{
    border: 1px solid khaki;
    color: white;
    background-color: #E02C6D;
    text-decoration: none;
    font-weight: 800;
    padding: 10px 24px;
    border-radius: 41px;
    text-align: center;
    
}
.fa-long-arrow-alt-right{
    width: 24px;
    height: 24px;
}

.container-box{
    display: flex;
    
    
}
#image-container{
    background-image: url(images/Circle\ design.svg);
    /* transform: rotate(360deg); */
    transition: transform 3s ease-out 1s;
}
#image-container:hover{
    transform: rotate(360deg);
}

.container {
    width: 50%;
}

.section-title{
    text-align: center;
    font-weight: 600;
}

/* ----------------
    gadjets styles
------------------- */

.gadjets .gadjet img{
    width: 300px;
    height: 256px;
    
    
}
.stars{
    color: orange;
    outline-color: black;
}
.ratings{
    
    color: black;
}

.gadjet{
    border: 1px solid white;
    width: 329px;
    height: 476px;
    border-radius: 5px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    padding-top:  17px;
    padding-left: 14px;
    padding-bottom: 17px;
    margin-right: 0px;
    
}
.gadjets{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;
    justify-items: center;
    
    
}
.collections{
    justify-content: space-evenly;
}
.icons{
    align-self: center;
    height: 30px;
    width: 30px;
}

/* making it responsive */
/* mobile devices */

@media  screen and (max-width:688px){
        .gadjets{
            background-color: tomato;
        }
        .container{
            width: 100%;


        }
         
        .container img{
            width: 80%;
            padding-right: 20px;
        }
        
        .container-box{
            flex-direction: column;
            grid-template-columns: repeat(1, 1fr);
            grid-column-gap: 10px;
            justify-content: center;
        }
        .gadjets{
            grid-template-columns: repeat(1, 1fr);
            /* width: 100%; */
        }

}

/*------------ tablet devices ---------*/

@media only screen and (min-width: 688px) and (max-width: 992px){
    .container-box{
        flex-direction: column;
        grid-template-columns: repeat(1, 1fr);
        align-self: center;
        }
        .container{
            width: 100%;
            padding: 30px;
            display: list-item;

        }
    
        .gadjets{
            
            grid-template-columns: repeat(2, 1fr);
            flex-direction: column;
            justify-content: space-evenly;
        }
        .collections{
            align-items: flex-end;
        }
        .header-section{
            text-align: center;
        }
       .container p{
           width: 80%;
       }
       .container img{
           width: 80%;
           padding-left: 30px;
       }

}